body,
.login-body {
    width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 900px;
    box-shadow: rgba(0, 0, 0, 0.05) 30px 30px 5px 2px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.form {
    height: 100%;
    width: 100%
}

.form-item {
    padding: 10px 20px 10px 0;
    display: block;
    margin: 5px 0;
}

.form-item label {
    display: inline-block;
    text-align: right;
    width: 100px;
    line-height: 1.8em;
}

.form-item input {
    padding: 5px;
    line-height: 1.6em;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
}

input[type="text"]:focus {
    outline: 1px solid #84bc3c;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
}